<table>
    <tbody>
        <tr>
            <td>이름</td>
            <td>{{userName}}</td>
        </tr>
        <tr>
            <td>이메일</td>
            <td>{{userEmail}}</td>
        </tr>
    </tbody>
</table>
