<table>
    <thead>
        <tr>
            <th>이름</th>
            <th>이메일</th>
        </tr>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>{{userName}}</td>
            <td>{{userEmail}}</td>
        </tr>
        {{/users}}
    </tbody>
</table>

